<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Usuarios</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<style>
  body { font-family: Arial, sans-serif; }
  .sidebar { width: 200px; background-color: #333; height: 100vh; float: left; color: white; padding: 20px; }
  .main-content { margin-left: 200px; padding: 20px; }
  table { width: 100%; border-collapse: collapse; }
  th, td { border: 1px solid #ddd; padding: 8px; text-align: left; }
  th { background-color: #16c2d5; color: white; }
.btn {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif; /* Asegúrate de que la fuente sea la misma */
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
  }
  .btn-edit { background-color: #FFC107; }
  .btn-delete { background-color: #F44336; }
  .btn-hist { background-color: #17e9cd; }
  .btn-add { background-color: #16c2d5; color: white; padding: 10px 20px; }
   a.btn {  text-decoration: none; color: white; 
</style>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<!-- Barra superior -->
    {% include 'topbar.html' %}
    
    <!-- Contenido principal -->
    <div class="container">
        <!-- Barra lateral -->
        {% include 'sidebar.html' %}

        <!-- Contenido principal -->
		<div class="main-content">
			<h1>Citas</h1>
			<button class="btn btn-add">Agregar Cita</button>
			<table>
				<tr>
					<th>Fecha</th>
					<th>Hora</th>
					<th>Paciente</th>
					<th>Médico</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
				{% for cita in citas %}
					<tr>
						<td>{{ cita[6]}}</td>
						<td>{{ cita[4] }}</td>
						<td>{{ cita[7]}}</td>
						<td>{{ cita[8] }}</td>
						<td>{{ cita[9] }}</td>
						<td>
							<button class="btn btn-edit" data-id="{{ cita.id }}">Editar</button>
							<form method="post" action="/{{ role }}/CRUD/Citas/eliminar/{{ cita.id }}">
								<input type="submit" class="btn btn-delete" value="Cancelar">
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	
			<!-- Modal para agregar citas -->
		<div class="modal fade" id="agregarCitaModal" tabindex="-1" aria-labelledby="agregarCitaModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="agregarCitaModalLabel">Agregar Cita</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<form id="agregarCitaForm" method="post" action="/{{ role }}/CRUD/Citas/agregar">
					<select id="id_medico" name="id_medico" class="form-input" required>
						<option value="" disabled selected>Selecciona un médico</option>
						{% for medico in medicos %}
							<option value="{{ medico[0] }}">{{ medico[1] }}</option>
						{% endfor %}
					</select>
					<select id="id_paciente" name="id_paciente" class="form-input" required>
						<option value="" disabled selected>Selecciona un paciente</option>
						{% for paciente in pacientes %}
							<option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }}</option>
						{% endfor %}
					</select>
					<input type="date" id="fecha" name="fecha" placeholder="Fecha" class="form-input" required style="margin-bottom: 10px;">
					<select id="hora" name="hora" class="form-input" required style="margin-bottom: 10px;">
						<option value="" disabled selected>Selecciona un horario</option>
						<option value="1100">11:00</option>
						<option value="1130">11:30</option>
						<option value="1200">12:00</option>
						<option value="1230">12:30</option>
						<option value="1300">13:00</option>
						<option value="1330">13:30</option>
						<option value="1530">15:30</option>
						<option value="1600">16:00</option>
						<option value="1630">16:30</option>
						<option value="1700">17:00</option>
						<option value="1730">17:30</option>
						<option value="1800">18:00</option>
					</select>
					<textarea name="observaciones" placeholder="Observaciones" class="form-input"></textarea>
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="submit" form="agregarCitaForm" class="btn btn-primary">Crear</button>
			  </div>
			</div>
		  </div>
		</div>
		
		<!-- Modal para editar citas -->
		<div class="modal fade" id="editarCitaModal" tabindex="-1" aria-labelledby="editarCitaModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<h5 class="modal-title" id="editarCitaModalLabel">Editar Cita</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			  </div>
			  <div class="modal-body">
				<form id="editarCitaForm" method="post" action="/{{ role }}/CRUD/Citas/editar/">
					<select id="id_medico" name="id_medico" class="form-input" required>
						<option value="" disabled selected>Selecciona un médico</option>
						{% for medico in medicos %}
							<option value="{{ medico[0] }}">{{ medico[1] }}</option>
						{% endfor %}
					</select>
					<select id="id_paciente" name="id_paciente" class="form-input" required>
						<option value="" disabled selected>Selecciona un paciente</option>
						{% for paciente in pacientes %}
							<option value="{{ paciente[0] }}">{{ paciente[1] }} {{ paciente[2] }}</option>
						{% endfor %}
					</select>
					<input type="date" name="fecha" placeholder="Fecha" class="form-input" required>
					<input type="time" name="hora" placeholder="Hora" class="form-input" required>
					<textarea name="observaciones" placeholder="Observaciones" class="form-input"></textarea>
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="submit" form="editarCitaForm" class="btn btn-primary">Editar</button>
			  </div>
			</div>
		  </div>
		</div>
		
	</div>
	
 <script>
        $(document).ready(function() {
            $('select').select2();
            $('#fecha').change(function() {
                var fecha = $(this).val();
                $.post('/horarios_disponibles', { fecha: fecha }, function(data) {
                    var select = $('#hora');
                    select.empty();
                    $.each(data, function(index, value) {
                        select.append('<option value="' + value + '">' + value + '</option>');
                    });
                });
            });
        });

		function padToTwoDigits(number) {
			return number.toString().padStart(2, '0');
		}

		$('.btn-add').click(function() {
			$('#agregarCitaModal').modal('show');
		});

		$('.btn-edit').click(function() {
			$('#editarCitaModal').modal('show');
			var dataString = $(this).data('id');
			var dataPattern = /(\d+), (\d+), (\d+), '(\d{4})-(\d{2})-(\d{2})', '(\d{4})', '(\w+)', '(\w+)', '(\w+)'/;
			var dataMatch = dataString.match(dataPattern);

			if (dataMatch) {
				var dataArray = dataMatch.slice(1); // Elimina el primer elemento que es la cadena completa
				$('#editarCitaForm select[name="id_medico"]').val(dataArray[1]);
				$('#editarCitaForm select[name="id_paciente"]').val(dataArray[2]);
				$('#editarCitaForm input[name="fecha"]').val(dataArray[3] + '-' + padToTwoDigits(dataArray[4]) + '-' + padToTwoDigits(dataArray[5]));
				$('#editarCitaForm input[name="hora"]').val(dataArray[6]);
				$('#editarCitaForm textarea[name="observaciones"]').val(dataArray[7]);

				$('#editarCitaForm').attr('action', '/{{ role }}/CRUD/Citas/editar/' + dataArray[0]);

				$('#editarCitaModal').modal('show');
			} else {
				console.log("La cadena no coincide con el patrón esperado.");
			}
		});
</script>
</body>
</html>
