<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a la página de inicio</h1>
    <!-- Contenido de la página de inicio -->

	<button type="button" class="form-submit-btn" onclick="window.location.href='/doctor/CRUD'">CRUD 1</button>
	<button type="button" class="form-submit-btn" onclick="window.location.href='secretaria/CRUD'">CRUD 2</button>
	<button type="button" class="form-submit-btn" onclick="window.location.href='../admin/CRUD'">CRUD 3</button>
</body>
</html>
