<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topbar</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
   <!-- Barra lateral -->
    <div class="sidebar">
        <h3>Menu</h3>
        <ul>
            <li><a href="/admin/CRUD/citas">Citas</a></li>
            <li><a href="/admin/CRUD/pacientes">Pacientes</a></li>
            <li><a href="/admin/CRUD/usuarios">Gestión de Usuarios</a></li>
            <li><a href="/admin/CRUD/enfermedades">Gestión de Enfermedades</a></li>
            <li><a href="/admin/CRUD/sintomas">Gestión de Síntomas</a></li>
            <li><a href="/admin/CRUD/signos">Gestión de Signos</a></li>
        </ul>
    </div>
</body>
</html>