<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topbar</title>
</head>
<body>
   <!-- Barra lateral -->
   <div class="sidebar">
    <h3>Menu</h3>
    {% set options = {
		'admin': ['Usuarios', 'Enfermedades', 'Sintomas', 'Signos', 'Historial', 'Seguimiento_Diagnostico', 'Pruebas', 'Pacientes', 'Citas'],
		'medico': ['Pacientes', 'Citas', 'Historial', 'Seguimiento_Diagnostico'],
		'secretaria': ['Pacientes', 'Citas']
	} %}

	<ul>
		{% for option in options[session['role']] %}
			{% if option in ['Historial', 'Seguimiento_Diagnostico'] %}
				<li><a href="/{{ session['role'] }}/{{ option }}/2">{{ option }}</a></li>
			{% else %}
				<li><a href="/{{ session['role'] }}/CRUD/{{ option }}">{{ option }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>

</body>
</html>
