<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topbar</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Barra superior -->
    <div class="topbar">
        <!-- Imagen de perfil -->
        <div class="profile-image">
            <a href="placeholder.php"><img src="{{ url_for('static', filename='img/imagen_perfil.jpg') }}" alt="Imagen de perfil" width="100" height="100"></a>
        </div>
        
        <!-- Botón de ajustes -->
        <div class="settings">
            <a href="placeholder.php">Ajustes</a>
        </div>
        
        <!-- Botón de notificaciones -->
        <div class="notifications">
            <a href="placeholder.php">Notificaciones</a>
        </div>
        
        <!-- Botón de cerrar sesión -->
        <div class="logout">
            <a href="/">Cerrar sesión</a>
        </div>
    </div>
</body>
</html>

